In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
!pip install pyTigerGraph

Collecting pyTigerGraph
  Downloading pyTigerGraph-1.6.3-py3-none-any.whl.metadata (3.9 kB)
Collecting validators (from pyTigerGraph)
  Downloading validators-0.33.0-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from pyTigerGraph) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->pyTigerGraph) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->pyTigerGraph) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->pyTigerGraph) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->pyTigerGraph) (2024.7.4)
Downloading pyTigerGraph-1.6.3-py3-none-any.whl (267 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 267.1/267.1 kB 4.5 MB/s eta 0:00:00
Downloading validators-0.33.0-py3-none-any.whl (43 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.3/43.3 kB 3.0 MB/s eta 0:00:00
Installing collected packages: validators, pyTigerGraph
Successfully installed pyTigerGraph-1.6.3 validators-0.33.0

In [14]:
import pandas as pd
import sqlite3
import time
import pyTigerGraph as tg
from google.colab import drive
import concurrent.futures
import psutil  # For resource usage monitoring

# Mount Google Drive
drive.mount('/content/drive')

# Load CSV files into pandas DataFrames from Google Drive
df1 = pd.read_csv('/content/drive/MyDrive/ADT_PROJECT/medications_csv.csv')
df2 = pd.read_csv('/content/drive/MyDrive/ADT_PROJECT/allergies_csv.csv')
df3 = pd.read_csv('/content/drive/MyDrive/ADT_PROJECT/patients_csv.csv')
df4 = pd.read_csv('/content/drive/MyDrive/ADT_PROJECT/conditions.csv')

# Print column names to verify
# print("Columns in df1:", df1.columns)
# print("Columns in df2:", df2.columns)
# print("Columns in df3:", df3.columns)
# print("Columns in df4:", df4.columns)

# Create a connection to an in-memory SQLite database
sql_conn = sqlite3.connect(':memory:')

# Function to measure load time for SQL
def measure_sql_load_time():
    start_time = time.time()
    df1.to_sql('medications', sql_conn, index=False, if_exists='replace')
    df2.to_sql('allergies', sql_conn, index=False, if_exists='replace')
    df3.to_sql('patients', sql_conn, index=False, if_exists='replace')
    df4.to_sql('conditions', sql_conn, index=False, if_exists='replace')
    end_time = time.time()
    return end_time - start_time

# Write the dataframes to the SQLite database with appropriate table names and column mapping
sql_load_time = measure_sql_load_time()

# Connect to TigerGraph
hostname = "https://5c97db8ab1d345a499a689ead868baa6.i.tgcloud.io"
graphName = "clinical_graph"
secret = "oa42tb3jfp6ntubbr7qlnt34gccsfprn"
username = "ashma_garg"
password = "Clinical@1"

try:
    graph = tg.TigerGraphConnection(host=hostname, graphname=graphName, username=username, password=password, gsqlSecret=secret)
    authToken = graph.getToken(secret)
except Exception as e:
    print(f"Error connecting to TigerGraph: {e}")
    graph = None

# Function to measure load time for TigerGraph
def measure_tg_load_time(graph, df1, df2, df3, df4):
    start_time = time.time()
    try:
        # Define loading jobs
        df1.to_csv('/content/medications.csv', index=False)
        df2.to_csv('/content/allergies.csv', index=False)
        df3.to_csv('/content/patients.csv', index=False)
        df4.to_csv('/content/conditions.csv', index=False)

        # Upload data to TigerGraph
        graph.uploadFile('/content/medications.csv', 'medications_csv', 'medications', separator=',')
        graph.uploadFile('/content/allergies.csv', 'allergies_csv', 'allergies', separator=',')
        graph.uploadFile('/content/patients.csv', 'patients_csv', 'patients', separator=',')
        graph.uploadFile('/content/conditions_csv.csv', 'conditions_csv', 'conditions', separator=',')

        # Run loading job
        load_job = """
        DEFINE FILENAME medications_csv = "/content/medications.csv";
        DEFINE FILENAME allergies_csv = "/content/allergies.csv";
        DEFINE FILENAME patients_csv = "/content/patients.csv";
        DEFINE FILENAME conditions_csv = "/content/conditions_csv.csv";

        LOAD medications_csv TO VERTEX medications VALUES($0, $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13) USING header="true", separator=",";
        LOAD allergies_csv TO VERTEX allergies VALUES($0, $1, $2, $3, $4, $5, $6) USING header="true", separator=",";
        LOAD patients_csv TO VERTEX patients VALUES($0, $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, $17, $18, $19, $20, $21, $22, $23) USING header="true", separator=",";
        LOAD conditions_csv TO VERTEX conditions VALUES($0, $1, $2, $3, $4, $5) USING header="true", separator=",";
        """
        graph.gsql(load_job)
    except Exception as e:
        #print(f"Error loading data into TigerGraph: {e}")
        pass
    end_time = time.time()
    return end_time - start_time

# Measure TigerGraph load time
tg_load_time = measure_tg_load_time(graph, df1, df2, df3, df4) if graph else "N/A"

# Function to measure execution time of a SQL query
def measure_sql_query_time(query, conn):
    start_time = time.time()
    result = pd.read_sql_query(query, conn)
    end_time = time.time()
    execution_time = end_time - start_time
    return execution_time, result

# Function to measure execution time of a GSQL query
def measure_gsql_query_time(graph, query):
    if graph:
        start_time = time.time()
        try:
            result = graph.runInterpretedQuery(query)
            end_time = time.time()
            execution_time = end_time - start_time
            return execution_time, result
        except Exception as e:
            print(f"Error executing query: {e}")
            return None, None
    return None, None

# Function to measure throughput for SQL queries
def measure_sql_throughput(queries, conn):
    def run_query(query):
        measure_sql_query_time(query, conn)

    start_time = time.time()
    with concurrent.futures.ThreadPoolExecutor() as executor:
        futures = [executor.submit(run_query, query) for query in queries]
        concurrent.futures.wait(futures)
    end_time = time.time()
    total_time = end_time - start_time
    throughput = len(queries) / total_time
    return throughput

# Function to measure throughput for TigerGraph queries
def measure_gsql_throughput(graph, queries):
    def run_query(query):
        measure_gsql_query_time(graph, query)

    start_time = time.time()
    with concurrent.futures.ThreadPoolExecutor() as executor:
        futures = [executor.submit(run_query, query) for query in queries]
        concurrent.futures.wait(futures)
    end_time = time.time()
    total_time = end_time - start_time
    throughput = len(queries) / total_time
    return throughput

# Function to monitor resource usage
def monitor_resource_usage():
    cpu_usage = psutil.cpu_percent(interval=1)
    memory_usage = psutil.virtual_memory().percent
    disk_usage = psutil.disk_usage('/').percent
    return cpu_usage, memory_usage, disk_usage

# Benchmarking SQL queries
sql_queries = {
    "Get Patient Allergies": '''
        SELECT patients.Id, allergies.DESCRIPTION
        FROM patients
        JOIN allergies ON patients.Id = allergies.PATIENT
    ''',
    "Maximum healthcare cost difference": '''
        SELECT *, (HEALTHCARE_EXPENSES - HEALTHCARE_COVERAGE) AS health_cost
        FROM patients
        WHERE (HEALTHCARE_EXPENSES - HEALTHCARE_COVERAGE) = (
            SELECT MAX(HEALTHCARE_EXPENSES - HEALTHCARE_COVERAGE)
            FROM patients
        );
    ''',
    "Medications to Related Conditions": '''
        SELECT c.*
        FROM medications m
        JOIN conditions c ON c.CODE = m.REASONCODE
        WHERE m.CODE = '1043400';
    ''',

       "Average Healthcare expenses" : '''
       SELECT AVG(HEALTHCARE_EXPENSES) AS avg_healthcare_expenses
       FROM patients;
       ''',
    "Maximum city healthcare cost": '''
     WITH CityPatients AS (
    SELECT
        (HEALTHCARE_EXPENSES - HEALTHCARE_COVERAGE) AS expense_diff
    FROM
        patients
    WHERE
        UPPER(CITY) = UPPER('Franklin')
    ),
   MaxExpense AS (
    SELECT
        MAX(expense_diff) AS max_expense_diff
    FROM
        CityPatients
   )
   SELECT
    p.*,
    (p.HEALTHCARE_EXPENSES - p.HEALTHCARE_COVERAGE) AS expense_diff
    FROM
    patients p
    JOIN
    CityPatients cp ON (p.HEALTHCARE_EXPENSES - p.HEALTHCARE_COVERAGE) = cp.expense_diff
    WHERE
    UPPER(p.CITY) = UPPER('Franklin');
    ''',

    "Country wise highest expense from patient" : '''
     WITH CountryPatients AS (
    SELECT
        (HEALTHCARE_EXPENSES - HEALTHCARE_COVERAGE) AS expense_diff
    FROM
        patients
    WHERE
        UPPER(COUNTY) = UPPER('Essex County')
),
MaxExpense AS (
    SELECT
        MAX(expense_diff) AS max_expense_diff
    FROM
        CountryPatients
)
SELECT
    p.*,
    (p.HEALTHCARE_EXPENSES - p.HEALTHCARE_COVERAGE) AS expense_diff
FROM
    patients p
JOIN
    CountryPatients cp ON (p.HEALTHCARE_EXPENSES - p.HEALTHCARE_COVERAGE) = cp.expense_diff
WHERE
    UPPER(p.COUNTY) = UPPER('Essex County');
    '''
    }

sql_times = {}
for query_name, query in sql_queries.items():
    execution_time, result = measure_sql_query_time(query, sql_conn)
    sql_times[query_name] = execution_time
    # if query_name == "Medications to Related Conditions":
        # print(f"Result for {query_name}:\n", result)

# Benchmarking TigerGraph queries
gsql_queries = {
    "Get Patient Allergies": """
        INTERPRET QUERY getPatientAllergies() FOR GRAPH clinical_graph {
            result = SELECT p FROM patients:p - (allergy_patient:e) -> allergies:a;
            PRINT result;
        }""",
    "Maximum healthcare cost difference": """
        INTERPRET QUERY max_healthcare_cost() FOR GRAPH clinical_graph {
            MaxAccum<FLOAT> @@max_healthcost;

            graph_set = {patients.*};

            patients_data = SELECT p FROM graph_set:p
                            ACCUM
                                @@max_healthcost += (p.healthcare_expenses - p.healthcare_coverage);
            max_expense_patient_data = SELECT p from graph_set:p
                                        where abs(((p.healthcare_expenses - p.healthcare_coverage)) - (@@max_healthcost)) < 0.000000001;
            PRINT @@max_healthcost;
            PRINT max_expense_patient_data;
        }""",
    "Medications to Related Conditions": """
        INTERPRET QUERY q1__med_to_condition_title (STRING code = "1043400") for graph clinical_graph {
            Seed = {medication.*};
            medic = SELECT s FROM Seed:s WHERE s.medication_code == code;
            med_related_conditions = SELECT c FROM conditions:c - (condition_medication:e) - medication:m WHERE m.medication_code == code;
            PRINT medic;
            PRINT med_related_conditions;
        }""",

  "Average Healthcare expenses": """
        INTERPRET QUERY avg_hc() FOR GRAPH clinical_graph {
            AvgAccum @@avg_healthcost;

            graph_set = {patients.*};

            patients_data = SELECT p FROM graph_set:p
                            ACCUM
                                @@avg_healthcost += p.healthcare_expenses;
            PRINT @@avg_healthcost;
        }""",

   "Maximum city healthcare cost": """
    INTERPRET QUERY max_city_healthcare_cost(STRING city = "Franklin") FOR GRAPH clinical_graph {
        MaxAccum<FLOAT> @@city_max_healthcost;

        graph_set = {patients.*};

        patients_data = SELECT p FROM graph_set:p where UPPER(p.city) == UPPER(city)
                        ACCUM
                            @@city_max_healthcost += (p.healthcare_expenses - p.healthcare_coverage);
        max_expense_patient_data = SELECT p from graph_set:p
                                    where abs(((p.healthcare_expenses - p.healthcare_coverage)) - (@@city_max_healthcost)) < 0.000000001;
        PRINT @@city_max_healthcost;
        PRINT max_expense_patient_data;
    }""",

    "Country wise highest expense from patient" :"""
    INTERPRET QUERY max_country_healthcare_cost(STRING country="Essex County") FOR GRAPH clinical_graph {
        MaxAccum<FLOAT> @@country_max_healthcost;

        graph_set = {patients.*};

        patients_data = SELECT p FROM graph_set:p where UPPER(p.country) == UPPER(country)
                        ACCUM
                            @@country_max_healthcost += (p.healthcare_expenses - p.healthcare_coverage);
        max_expense_patient_data = SELECT p from graph_set:p
                                    where abs(((p.healthcare_expenses - p.healthcare_coverage)) - (@@country_max_healthcost)) < 0.000000001;
        PRINT @@country_max_healthcost;
        PRINT max_expense_patient_data;
    }"""
}

tg_times = {}
if graph:
    for query_name, query in gsql_queries.items():
        execution_time, result = measure_gsql_query_time(graph, query)
        tg_times[query_name] = execution_time
        # if query_name == "Medications to Related Conditions":
        #     print(f"Result for {query_name}:\n", result)
else:
    for query_name in gsql_queries:
        tg_times[query_name] = None

# Measure SQL throughput
sql_queries_list = list(sql_queries.values())
sql_throughput = measure_sql_throughput(sql_queries_list, sql_conn)

# Measure TigerGraph throughput (for demonstration purposes)
tg_queries_list = list(gsql_queries.values())
tg_throughput = measure_gsql_throughput(graph, tg_queries_list) if graph else "N/A"

# Monitor resource usage
cpu, memory, disk = monitor_resource_usage()

# Print benchmarking results
print("\nBenchmarking Results Comparison:")

print("\nSQL Database Metrics:")
print(f"Load Time: {sql_load_time:.4f} seconds")
print(f"Throughput: {sql_throughput:.2f} queries/second")
print(f"Resource Usage - CPU: {cpu}%, Memory: {memory}%, Disk: {disk}%")

print("\nTigerGraph Metrics:")
print(f"Load Time: {tg_load_time if tg_load_time != 'N/A' else 'N/A'} seconds")
print(f"Throughput: {tg_throughput if tg_throughput != 'N/A' else 'N/A'} queries/second")
print(f"Resource Usage - CPU: {cpu}%, Memory: {memory}%, Disk: {disk}%")

print("\nQuery Execution Times:")
print("SQL Queries:")
for query, time_taken in sql_times.items():
    print(f"{query}: {time_taken:.4f} seconds")

print("\nTigerGraph Queries:")
if graph:
    for query, time_taken in tg_times.items():
        if time_taken is not None:
            print(f"{query}: {time_taken:.4f} seconds")
        else:
            print(f"{query}: Unable to connect to TigerGraph")
else:
    print("Unable to connect to TigerGraph")

print("\nPerformance Comparison:")
for query in sql_times:
    tg_time = tg_times.get(query, "N/A")
    sql_time = sql_times[query]
    print(f"{query}: TigerGraph = {tg_time if tg_time != 'N/A' else 'N/A'} seconds, SQL = {sql_time:.4f} seconds")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Benchmarking Results Comparison:

SQL Database Metrics:
Load Time: 0.3486 seconds
Throughput: 3966.24 queries/second
Resource Usage - CPU: 3.0%, Memory: 12.4%, Disk: 25.0%

TigerGraph Metrics:
Load Time: 0.5468919277191162 seconds
Throughput: 9.308278307853689 queries/second
Resource Usage - CPU: 3.0%, Memory: 12.4%, Disk: 25.0%

Query Execution Times:
SQL Queries:
Get Patient Allergies: 0.0036 seconds
Maximum healthcare cost difference: 0.0025 seconds
Medications to Related Conditions: 0.4162 seconds
Average Healthcare expenses: 0.0015 seconds
Maximum city healthcare cost: 0.0053 seconds
Country wise highest expense from patient: 0.0402 seconds

TigerGraph Queries:
Get Patient Allergies: 0.4006 seconds
Maximum healthcare cost difference: 0.2899 seconds
Medications to Related Conditions: 0.2566 seconds
Average Healthcare expenses: 0.2545 seconds
Maximum city healthcare cost: 0.2877 seconds
Country wise highest expense from patient: 0.3001 seconds

Performance Comparison:
Get Patient Allergies: TigerGraph = 0.4005603790283203 seconds, SQL = 0.0036 seconds
Maximum healthcare cost difference: TigerGraph = 0.2899165153503418 seconds, SQL = 0.0025 seconds
Medications to Related Conditions: TigerGraph = 0.25662779808044434 seconds, SQL = 0.4162 seconds
Average Healthcare expenses: TigerGraph = 0.2545332908630371 seconds, SQL = 0.0015 seconds
Maximum city healthcare cost: TigerGraph = 0.2876780033111572 seconds, SQL = 0.0053 seconds
Country wise highest expense from patient: TigerGraph = 0.30014705657958984 seconds, SQL = 0.0402 seconds

In [9]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [12]:
import pandas as pd
import sqlite3
from google.colab import drive

# Step 1: Mount Google Drive
drive.mount('/content/drive')

# Step 2: Load CSV files into pandas DataFrames
df_medications = pd.read_csv('/content/drive/MyDrive/ADT_PROJECT/medications_csv.csv')
df_allergies = pd.read_csv('/content/drive/MyDrive/ADT_PROJECT/allergies_csv.csv')
df_patients = pd.read_csv('/content/drive/MyDrive/ADT_PROJECT/patients_csv.csv')
df_conditions = pd.read_csv('/content/drive/MyDrive/ADT_PROJECT/conditions.csv')

# Print column names to verify, just to make sure about the tables we are working
# print("Columns in df_medications:", df_medications.columns)
# print("Columns in df_allergies:", df_allergies.columns)
# print("Columns in df_patients:", df_patients.columns)
# print("Columns in df_conditions:", df_conditions.columns)

# Step 3: Create an SQLite database in memory
conn = sqlite3.connect(':memory:')

# Step 4: Write the DataFrames to SQLite tables
df_medications.to_sql('Medications', conn, index=False, if_exists='replace')
df_allergies.to_sql('Allergies', conn, index=False, if_exists='replace')
df_patients.to_sql('Patients', conn, index=False, if_exists='replace')
df_conditions.to_sql('Conditions', conn, index=False, if_exists='replace')

# Step 5: Function to execute a query and print the results
def execute_query(query):
    print("Executing query:")
    print(query)
    try:
        result = pd.read_sql_query(query, conn)
        print(result)
    except Exception as e:
        print("Error:", e)
    print("-------------------------------------------------------------------------------------------")

# Example Queries, these are the exactly one which we ran on the tiger graph

# Test Query, just to check!
execute_query("SELECT 'Test Query 1 Works!' AS message;")

# Conditions related to medication by code
execute_query("""
    SELECT DISTINCT c.*
    FROM Conditions c
    JOIN Medications m ON c.PATIENT = m.PATIENT
    WHERE m.CODE = '1043400';
""")

# Medications related to a condition by code
execute_query("""
    SELECT DISTINCT m.*
    FROM Medications m
    JOIN Conditions c ON c.PATIENT = m.PATIENT
    WHERE c.CODE = '10509002';
""")

# Conditions and medications by condition description
execute_query("""
    SELECT DISTINCT c.*
    FROM Conditions c
    WHERE UPPER(c.DESCRIPTION) LIKE UPPER('%Acute bron%');
""")

execute_query("""
    SELECT DISTINCT m.*
    FROM Medications m
    JOIN Conditions c ON c.PATIENT = m.PATIENT
    WHERE UPPER(c.DESCRIPTION) LIKE UPPER('%Acute bron%');
""")

# Average healthcare expenses
execute_query("""
    SELECT AVG(HEALTHCARE_EXPENSES) AS avg_healthcost
    FROM Patients;
""")

# Highest healthcare expense
execute_query("""
    SELECT MAX(HEALTHCARE_EXPENSES - HEALTHCARE_COVERAGE) AS max_healthcost
    FROM Patients;
""")

# Highest healthcare expense by city
execute_query("""
    SELECT MAX(HEALTHCARE_EXPENSES - HEALTHCARE_COVERAGE) AS city_max_healthcost
    FROM Patients
    WHERE UPPER(CITY) = UPPER('Franklin');
""")

# Highest healthcare expense by county
execute_query("""
    SELECT MAX(HEALTHCARE_EXPENSES - HEALTHCARE_COVERAGE) AS county_max_healthcost
    FROM Patients
    WHERE UPPER(COUNTY) = UPPER('Essex County');
""")

# Highest healthcare expense by state
execute_query("""
    SELECT MAX(HEALTHCARE_EXPENSES - HEALTHCARE_COVERAGE) AS state_max_healthcost
    FROM Patients
    WHERE UPPER(STATE) = UPPER('Massachusetts');
""")

# Patients paying more than threshold or average healthcare expenses
threshold = 1500000  # Example threshold value
execute_query(f"""
    WITH avg_healthcost AS (
        SELECT AVG(HEALTHCARE_EXPENSES) AS avg_cost
        FROM Patients
    )
    SELECT COUNT(*) AS patient_paying_above_threshold_count
    FROM Patients, avg_healthcost
    WHERE (HEALTHCARE_EXPENSES - HEALTHCARE_COVERAGE) > {threshold};
""")

# Most common condition
execute_query("""
    WITH condition_counts AS (
        SELECT CODE, COUNT(*) AS count
        FROM Conditions
        JOIN Patients ON Conditions.PATIENT = Patients.Id
        GROUP BY CODE
    )
    SELECT CODE, MAX(count) AS max_count
    FROM condition_counts
""")

# Most common condition in a specific city
execute_query("""
    WITH city_conditions AS (
        SELECT CODE, COUNT(*) AS count
        FROM Conditions
        JOIN Patients ON Conditions.PATIENT = Patients.Id
        WHERE UPPER(Patients.CITY) = UPPER('Chatham')
        GROUP BY CODE
    )
    SELECT CODE, MAX(count) AS max_count
    FROM city_conditions
""")

# Condition with maximum duration
execute_query("""
    WITH condition_durations AS (
        SELECT c.Id AS condition_id,
               (CASE WHEN c.STOP = '' THEN JULIANDAY('now') ELSE JULIANDAY(c.STOP) END -
                CASE WHEN c.START = '' THEN JULIANDAY('now') ELSE JULIANDAY(c.START) END) AS duration
        FROM Conditions c
    )
    SELECT condition_id, MAX(duration) AS max_duration
    FROM condition_durations
""")

# Patients for a specific condition code
execute_query("""
    SELECT p.*
    FROM Patients p
    JOIN Conditions c ON p.Id = c.PATIENT
    WHERE c.CODE = '47693006';
""")

# Patients for a specific medication code
execute_query("""
    SELECT p.*
    FROM Patients p
    JOIN Medications m ON p.Id = m.PATIENT
    WHERE m.CODE = '310385';
""")

# Close the database connection
conn.close()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Executing query:
SELECT 'Test Query 1 Works!' AS message;
               message
0  Test Query 1 Works!
-------------------------------------------------------------------------------------------
Executing query:

    SELECT DISTINCT c.*
    FROM Conditions c
    JOIN Medications m ON c.PATIENT = m.PATIENT
    WHERE m.CODE = '1043400';

        Id       START        STOP                               PATIENT  \
0       31  28-01-2012  11-02-2012  ad2e9916-4979-40fc-a8c0-68651a0cb5a6
1       32  19-10-2017  26-10-2017  ad2e9916-4979-40fc-a8c0-68651a0cb5a6
2       88  19-07-1977        None  86b97fc7-ae8f-4e0d-8e66-db68f36e7a76
3       89  07-03-1995        None  86b97fc7-ae8f-4e0d-8e66-db68f36e7a76
4       90  02-01-2007        None  86b97fc7-ae8f-4e0d-8e66-db68f36e7a76
...    ...         ...         ...                                   ...
1008  8252  31-03-1993  07-04-1993  8a9a9b41-2e52-4805-92ed-3be1c2972c41
1009  8253  10-07-1993  14-08-1993  8a9a9b41-2e52-4805-92ed-3be1c2972c41
1010  8254  22-02-1994        None  8a9a9b41-2e52-4805-92ed-3be1c2972c41
1011  8255  15-11-1997        None  8a9a9b41-2e52-4805-92ed-3be1c2972c41
1012  8256  05-06-1998        None  8a9a9b41-2e52-4805-92ed-3be1c2972c41

                                 ENCOUNTER         CODE  \
0     ede20e08-2815-4869-a208-0b4e0868a388   10509002.0
1     33b51eae-9362-4581-8446-7f2872140692  444814009.0
2     c271ea09-6c73-40aa-84a7-6398b8839c58   59621000.0
3     e2a3d26e-5ec6-4872-bd08-bde771a388b1   19169002.0
4     2ae715a7-b3fa-42e7-a8eb-212e428dc346  162864005.0
...                                    ...          ...
1008  19e12f75-c754-46a6-a14e-b0f7130660bc  195662009.0
1009  50bf4b13-ac16-40e6-bf80-52dac3824a82   44465007.0
1010  3bb4c494-e01e-44ec-8e51-531d762a05ee   82423001.0
1011  ba794e53-41d0-417b-a8bf-46d6401c1c33   59621000.0
1012  5f9290bb-f0f5-4522-ae9b-690c8e5e8017   55680006.0

                                  DESCRIPTION
0                 Acute bronchitis (disorder)
1                  Viral sinusitis (disorder)
2                                Hypertension
3              Miscarriage in first trimester
4     Body mass index 30+ - obesity (finding)
...                                       ...
1008       Acute viral pharyngitis (disorder)
1009                          Sprain of ankle
1010                             Chronic pain
1011                             Hypertension
1012                            Drug overdose

[1013 rows x 7 columns]
-------------------------------------------------------------------------------------------
Executing query:

    SELECT DISTINCT m.*
    FROM Medications m
    JOIN Conditions c ON c.PATIENT = m.PATIENT
    WHERE c.CODE = '10509002';

          Id                 START                  STOP  \
0          4  2011-05-13T12:58:08Z  2011-05-27T12:58:08Z
1         13  2017-01-22T12:58:08Z  2017-02-12T12:58:08Z
2         14  2019-04-23T12:58:08Z  2019-05-07T12:58:08Z
3          6  2012-01-01T03:04:34Z  2012-01-08T03:04:34Z
4          7  2016-12-29T17:45:28Z  2017-01-05T17:45:28Z
...      ...                   ...                   ...
20981  42979  2004-12-11T17:27:52Z  2005-12-17T17:27:52Z
20982  42980  2005-12-17T17:27:52Z  2005-12-31T17:27:52Z
20983  42981  2005-12-17T17:27:52Z  2005-12-31T17:27:52Z
20984  42982  2005-12-31T17:27:52Z                  None
20985  42983  2005-12-31T17:27:52Z                  None

                                    PATIENT  \
0      10339b10-3cd1-4ac3-ac13-ec26728cb592
1      10339b10-3cd1-4ac3-ac13-ec26728cb592
2      10339b10-3cd1-4ac3-ac13-ec26728cb592
3      f5dcd418-09fe-4a2f-baa0-3da800bd8c3a
4      034e9e3b-2def-4559-bb2a-7850888ae060
...                                     ...
20981  6d048a56-edb8-4f29-891d-7a84d75a8e78
20982  6d048a56-edb8-4f29-891d-7a84d75a8e78
20983  6d048a56-edb8-4f29-891d-7a84d75a8e78
20984  6d048a56-edb8-4f29-891d-7a84d75a8e78
20985  6d048a56-edb8-4f29-891d-7a84d75a8e78

                                      PAYER  \
0      d47b3510-2895-3b70-9897-342d681c769d
1      d47b3510-2895-3b70-9897-342d681c769d
2      d47b3510-2895-3b70-9897-342d681c769d
3      047f6ec3-6215-35eb-9608-f9dda363a44c
4      6e2f1a2d-27bd-3701-8d08-dae202c58632
...                                     ...
20981  7caa7254-5050-3b5e-9eae-bd5ea30e809c
20982  7caa7254-5050-3b5e-9eae-bd5ea30e809c
20983  7caa7254-5050-3b5e-9eae-bd5ea30e809c
20984  7caa7254-5050-3b5e-9eae-bd5ea30e809c
20985  7caa7254-5050-3b5e-9eae-bd5ea30e809c

                                  ENCOUNTER     CODE  \
0      e1ab4933-07a1-49f0-b4bd-05500919061d   313782
1      4ec8d55b-05fc-42a5-bfa3-1e233874a362   849574
2      27ff7518-6d93-4308-8a1d-d2dfb02c0c58   313782
3      16300c56-a035-4126-a656-68c093da6dfc   313782
4      3b639086-5fbc-4720-8c31-e8c8c0f1d660   313782
...                                     ...      ...
20981  fae5863a-161d-4db1-aae4-b470865ec319  2123111
20982  b00624b4-0b77-44a0-a358-7ff9e6d5002c   895994
20983  b00624b4-0b77-44a0-a358-7ff9e6d5002c  2123111
20984  5442a22d-502d-45ce-907e-ba7dd64451f8   895994
20985  5442a22d-502d-45ce-907e-ba7dd64451f8  2123111

                                             DESCRIPTION  BASE_COST  \
0                       Acetaminophen 325 MG Oral Tablet       8.14
1                     Naproxen sodium 220 MG Oral Tablet       5.73
2                       Acetaminophen 325 MG Oral Tablet       6.70
3                       Acetaminophen 325 MG Oral Tablet       6.52
4                       Acetaminophen 325 MG Oral Tablet       6.41
...                                                  ...        ...
20981  NDA020503 200 ACTUAT Albuterol 0.09 MG/ACTUAT ...      19.35
20982  120 ACTUAT Fluticasone propionate 0.044 MG/ACT...      43.84
20983  NDA020503 200 ACTUAT Albuterol 0.09 MG/ACTUAT ...      10.95
20984  120 ACTUAT Fluticasone propionate 0.044 MG/ACT...      52.77
20985  NDA020503 200 ACTUAT Albuterol 0.09 MG/ACTUAT ...     273.01

       PAYER_COVERAGE  DISPENSES  TOTALCOST   REASONCODE  \
0                0.00          1       8.14   10509002.0
1                0.00          1       5.73          NaN
2                0.00          1       6.70   10509002.0
3                0.00          1       6.52   10509002.0
4                0.00          1       6.41   10509002.0
...               ...        ...        ...          ...
20981            0.00         12     232.20  233678006.0
20982            3.84          1      43.84  233678006.0
20983            0.00          1      10.95  233678006.0
20984            0.00          4     211.08  233678006.0
20985            0.00          4    1092.04  233678006.0

                 REASONDESCRIPTION
0      Acute bronchitis (disorder)
1                             None
2      Acute bronchitis (disorder)
3      Acute bronchitis (disorder)
4      Acute bronchitis (disorder)
...                            ...
20981             Childhood asthma
20982             Childhood asthma
20983             Childhood asthma
20984             Childhood asthma
20985             Childhood asthma

[20986 rows x 14 columns]
-------------------------------------------------------------------------------------------
Executing query:

    SELECT DISTINCT c.*
    FROM Conditions c
    WHERE UPPER(c.DESCRIPTION) LIKE UPPER('%Acute bron%');

       Id       START        STOP                               PATIENT  \
0       4  13-05-2011  27-05-2011  10339b10-3cd1-4ac3-ac13-ec26728cb592
1       8  31-12-2011  07-01-2012  f5dcd418-09fe-4a2f-baa0-3da800bd8c3a
2      10  29-12-2016  05-01-2017  034e9e3b-2def-4559-bb2a-7850888ae060
3      15  23-04-2019  07-05-2019  10339b10-3cd1-4ac3-ac13-ec26728cb592
4      20  31-10-2017  14-11-2017  b1e9b0b9-da6e-4f68-b603-bd896a50ca86
..    ...         ...         ...                                   ...
558  8287  10-04-2013  17-04-2013  73fc00f8-a341-4f62-be27-07c35c3460bc
559  8295  08-10-2015  22-10-2015  35e1afdd-e938-441d-b54e-db15db0bbcfd
560  8335  14-04-2011  21-04-2011  09867b02-24b8-4896-b38b-86782dd64ef1
561  8343  21-07-2011  28-07-2011  023a7d29-32b3-4db5-89c8-b88bd7582ec0
562  8357  15-04-2002  29-04-2002  6d048a56-edb8-4f29-891d-7a84d75a8e78

                                ENCOUNTER        CODE  \
0    e1ab4933-07a1-49f0-b4bd-05500919061d  10509002.0
1    16300c56-a035-4126-a656-68c093da6dfc  10509002.0
2    3b639086-5fbc-4720-8c31-e8c8c0f1d660  10509002.0
3    27ff7518-6d93-4308-8a1d-d2dfb02c0c58  10509002.0
4    b0e64c9c-26f9-404d-a60d-b75997a4e072  10509002.0
..                                    ...         ...
558  b6ed91b8-c153-4dbb-83f9-a5d5ae4fac9e  10509002.0
559  09890dae-3790-427d-91af-0c3209908598  10509002.0
560  54737915-7186-4daa-b55d-3c20e2da3395  10509002.0
561  dac205d1-66ff-4619-b80d-766dde09eaa2  10509002.0
562  7887e57a-dce6-48a1-9aac-bae2a809c77f  10509002.0

                     DESCRIPTION
0    Acute bronchitis (disorder)
1    Acute bronchitis (disorder)
2    Acute bronchitis (disorder)
3    Acute bronchitis (disorder)
4    Acute bronchitis (disorder)
..                           ...
558  Acute bronchitis (disorder)
559  Acute bronchitis (disorder)
560  Acute bronchitis (disorder)
561  Acute bronchitis (disorder)
562  Acute bronchitis (disorder)

[563 rows x 7 columns]
-------------------------------------------------------------------------------------------
Executing query:

    SELECT DISTINCT m.*
    FROM Medications m
    JOIN Conditions c ON c.PATIENT = m.PATIENT
    WHERE UPPER(c.DESCRIPTION) LIKE UPPER('%Acute bron%');

          Id                 START                  STOP  \
0          4  2011-05-13T12:58:08Z  2011-05-27T12:58:08Z
1         13  2017-01-22T12:58:08Z  2017-02-12T12:58:08Z
2         14  2019-04-23T12:58:08Z  2019-05-07T12:58:08Z
3          6  2012-01-01T03:04:34Z  2012-01-08T03:04:34Z
4          7  2016-12-29T17:45:28Z  2017-01-05T17:45:28Z
...      ...                   ...                   ...
20981  42979  2004-12-11T17:27:52Z  2005-12-17T17:27:52Z
20982  42980  2005-12-17T17:27:52Z  2005-12-31T17:27:52Z
20983  42981  2005-12-17T17:27:52Z  2005-12-31T17:27:52Z
20984  42982  2005-12-31T17:27:52Z                  None
20985  42983  2005-12-31T17:27:52Z                  None

                                    PATIENT  \
0      10339b10-3cd1-4ac3-ac13-ec26728cb592
1      10339b10-3cd1-4ac3-ac13-ec26728cb592
2      10339b10-3cd1-4ac3-ac13-ec26728cb592
3      f5dcd418-09fe-4a2f-baa0-3da800bd8c3a
4      034e9e3b-2def-4559-bb2a-7850888ae060
...                                     ...
20981  6d048a56-edb8-4f29-891d-7a84d75a8e78
20982  6d048a56-edb8-4f29-891d-7a84d75a8e78
20983  6d048a56-edb8-4f29-891d-7a84d75a8e78
20984  6d048a56-edb8-4f29-891d-7a84d75a8e78
20985  6d048a56-edb8-4f29-891d-7a84d75a8e78

                                      PAYER  \
0      d47b3510-2895-3b70-9897-342d681c769d
1      d47b3510-2895-3b70-9897-342d681c769d
2      d47b3510-2895-3b70-9897-342d681c769d
3      047f6ec3-6215-35eb-9608-f9dda363a44c
4      6e2f1a2d-27bd-3701-8d08-dae202c58632
...                                     ...
20981  7caa7254-5050-3b5e-9eae-bd5ea30e809c
20982  7caa7254-5050-3b5e-9eae-bd5ea30e809c
20983  7caa7254-5050-3b5e-9eae-bd5ea30e809c
20984  7caa7254-5050-3b5e-9eae-bd5ea30e809c
20985  7caa7254-5050-3b5e-9eae-bd5ea30e809c

                                  ENCOUNTER     CODE  \
0      e1ab4933-07a1-49f0-b4bd-05500919061d   313782
1      4ec8d55b-05fc-42a5-bfa3-1e233874a362   849574
2      27ff7518-6d93-4308-8a1d-d2dfb02c0c58   313782
3      16300c56-a035-4126-a656-68c093da6dfc   313782
4      3b639086-5fbc-4720-8c31-e8c8c0f1d660   313782
...                                     ...      ...
20981  fae5863a-161d-4db1-aae4-b470865ec319  2123111
20982  b00624b4-0b77-44a0-a358-7ff9e6d5002c   895994
20983  b00624b4-0b77-44a0-a358-7ff9e6d5002c  2123111
20984  5442a22d-502d-45ce-907e-ba7dd64451f8   895994
20985  5442a22d-502d-45ce-907e-ba7dd64451f8  2123111

                                             DESCRIPTION  BASE_COST  \
0                       Acetaminophen 325 MG Oral Tablet       8.14
1                     Naproxen sodium 220 MG Oral Tablet       5.73
2                       Acetaminophen 325 MG Oral Tablet       6.70
3                       Acetaminophen 325 MG Oral Tablet       6.52
4                       Acetaminophen 325 MG Oral Tablet       6.41
...                                                  ...        ...
20981  NDA020503 200 ACTUAT Albuterol 0.09 MG/ACTUAT ...      19.35
20982  120 ACTUAT Fluticasone propionate 0.044 MG/ACT...      43.84
20983  NDA020503 200 ACTUAT Albuterol 0.09 MG/ACTUAT ...      10.95
20984  120 ACTUAT Fluticasone propionate 0.044 MG/ACT...      52.77
20985  NDA020503 200 ACTUAT Albuterol 0.09 MG/ACTUAT ...     273.01

       PAYER_COVERAGE  DISPENSES  TOTALCOST   REASONCODE  \
0                0.00          1       8.14   10509002.0
1                0.00          1       5.73          NaN
2                0.00          1       6.70   10509002.0
3                0.00          1       6.52   10509002.0
4                0.00          1       6.41   10509002.0
...               ...        ...        ...          ...
20981            0.00         12     232.20  233678006.0
20982            3.84          1      43.84  233678006.0
20983            0.00          1      10.95  233678006.0
20984            0.00          4     211.08  233678006.0
20985            0.00          4    1092.04  233678006.0

                 REASONDESCRIPTION
0      Acute bronchitis (disorder)
1                             None
2      Acute bronchitis (disorder)
3      Acute bronchitis (disorder)
4      Acute bronchitis (disorder)
...                            ...
20981             Childhood asthma
20982             Childhood asthma
20983             Childhood asthma
20984             Childhood asthma
20985             Childhood asthma

[20986 rows x 14 columns]
-------------------------------------------------------------------------------------------
Executing query:

    SELECT AVG(HEALTHCARE_EXPENSES) AS avg_healthcost
    FROM Patients;

   avg_healthcost
0   764940.902109
-------------------------------------------------------------------------------------------
Executing query:

    SELECT MAX(HEALTHCARE_EXPENSES - HEALTHCARE_COVERAGE) AS max_healthcost
    FROM Patients;

   max_healthcost
0      2142364.72
-------------------------------------------------------------------------------------------
Executing query:

    SELECT MAX(HEALTHCARE_EXPENSES - HEALTHCARE_COVERAGE) AS city_max_healthcost
    FROM Patients
    WHERE UPPER(CITY) = UPPER('Franklin');

   city_max_healthcost
0           1784019.02
-------------------------------------------------------------------------------------------
Executing query:

    SELECT MAX(HEALTHCARE_EXPENSES - HEALTHCARE_COVERAGE) AS county_max_healthcost
    FROM Patients
    WHERE UPPER(COUNTY) = UPPER('Essex County');

   county_max_healthcost
0              1753693.3
-------------------------------------------------------------------------------------------
Executing query:

    SELECT MAX(HEALTHCARE_EXPENSES - HEALTHCARE_COVERAGE) AS state_max_healthcost
    FROM Patients
    WHERE UPPER(STATE) = UPPER('Massachusetts');

   state_max_healthcost
0            2142364.72
-------------------------------------------------------------------------------------------
Executing query:

    WITH avg_healthcost AS (
        SELECT AVG(HEALTHCARE_EXPENSES) AS avg_cost
        FROM Patients
    )
    SELECT COUNT(*) AS patient_paying_above_threshold_count
    FROM Patients, avg_healthcost
    WHERE (HEALTHCARE_EXPENSES - HEALTHCARE_COVERAGE) > 1500000;

   patient_paying_above_threshold_count
0                                   113
-------------------------------------------------------------------------------------------
Executing query:

    WITH condition_counts AS (
        SELECT CODE, COUNT(*) AS count
        FROM Conditions
        JOIN Patients ON Conditions.PATIENT = Patients.Id
        GROUP BY CODE
    )
    SELECT CODE, MAX(count) AS max_count
    FROM condition_counts


          CODE  max_count
0  444814009.0       1248
-------------------------------------------------------------------------------------------
Executing query:

    WITH city_conditions AS (
        SELECT CODE, COUNT(*) AS count
        FROM Conditions
        JOIN Patients ON Conditions.PATIENT = Patients.Id
        WHERE UPPER(Patients.CITY) = UPPER('Chatham')
        GROUP BY CODE
    )
    SELECT CODE, MAX(count) AS max_count
    FROM city_conditions


         CODE  max_count
0  10509002.0          9
-------------------------------------------------------------------------------------------
Executing query:

    WITH condition_durations AS (
        SELECT c.Id AS condition_id,
               (CASE WHEN c.STOP = '' THEN JULIANDAY('now') ELSE JULIANDAY(c.STOP) END -
                CASE WHEN c.START = '' THEN JULIANDAY('now') ELSE JULIANDAY(c.START) END) AS duration
        FROM Conditions c
    )
    SELECT condition_id, MAX(duration) AS max_duration
    FROM condition_durations

   condition_id max_duration
0          8376         None
-------------------------------------------------------------------------------------------
Executing query:

    SELECT p.*
    FROM Patients p
    JOIN Conditions c ON p.Id = c.PATIENT
    WHERE c.CODE = '47693006';

                                      Id   BIRTHDATE   DEATHDATE          SSN  \
0   adfc3c2f-30be-430d-8f07-9070dab88c64  07-03-1953  23-03-2019  999-74-2700
1   04630e85-e9f5-4a9b-be75-97f2c3346037  07-03-1953        None  999-11-6672
2   1510fff3-4a1d-4606-9ede-a5342afa6886  15-10-1954        None  999-43-8466
3   fcc61454-1b07-4e49-a25b-29e5064e0063  06-07-1966        None  999-87-1534
4   8a1d2c26-0774-4526-916f-1148e0357b5d  13-05-1977        None  999-93-1751
5   9c69f2d5-b7de-4634-84c5-bf3efd551f5e  15-05-1962        None  999-44-5415
6   be8fc232-6d5c-4d97-9a1b-f9b17e06c3ff  17-08-1973        None  999-83-8158
7   49303b96-1de5-4365-9ff3-bf960aea755b  20-08-1937        None  999-44-3488
8   dc811097-b472-4dbd-8ce9-bb0afca44d7e  18-02-1995        None  999-19-6566
9   1474f954-3781-4de1-9d5d-27a2b8688419  25-02-1994        None  999-61-4523
10  b1b10f6e-e97a-426a-9581-f1a5c29b6e05  06-09-1914  10-10-1998  999-22-8602
11  664dea73-3a66-4f67-bc88-300660a1dec9  25-05-1961        None  999-43-9671

      DRIVERS    PASSPORT PREFIX       FIRST           LAST SUFFIX  ...  \
0   S99923595  X15174288X   Mrs.   Tomasa683      Lehner980   None  ...
1   S99913597  X72137272X   Mrs.  Lynette631      Walter473   None  ...
2   S99956984  X61296318X   Mrs.     Mina319  Gusikowski974   None  ...
3   S99948423   X7514421X    Mr.  Patrick786     Farrell962   None  ...
4   S99994715  X12042977X   Mrs.  Juliana372        Ward668   None  ...
5   S99924172  X38008743X    Mr.   Danial835     D'Amore443   None  ...
6   S99936264  X76474542X   Mrs.  Soledad678      Duarte203   None  ...
7   S99935878  X37105727X    Ms.   Astrid395     Dickens475   None  ...
8   S99934669  X79127078X    Mr.     Alan320     Tillman293   None  ...
9   S99953247  X66416063X    Ms.  Tamisha203   Considine820   None  ...
10  S99961447  X28933673X    Mr.   Richie600     Steuber698   None  ...
11  S99964608  X29732912X    Mr.   Eugene421       Hintz995   None  ...

                      BIRTHPLACE                        ADDRESS         CITY  \
0      Boston  Massachusetts  US         754 Mayert Mews Apt 84      Danvers
1     Medford  Massachusetts  US                  730 Bogan Row      Danvers
2   Attleboro  Massachusetts  US     747 Aufderhar Mall Unit 48    Groveland
3             Hanoi  Hà Đông  VN  341 Homenick Trailer Suite 77  Marlborough
4      Newton  Massachusetts  US                  852 Ferry Rue     Weymouth
5       Bangalore  Karnataka  IN                 139 Braun Flat      Peabody